{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            
            <form method="post" class="card p-5">
                {% csrf_token %}
                <h2 class="text-center mb-4">Reset Password</h2>
                {% for field in form %}
                    {% if field.name == 'password' %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                <small class="text-danger">{{ field.errors|striptags }}</small>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-buttons pt-3">
                    <button type="submit" class="btn btn-primary">Send</button>
                    <a href="{% url 'login' %}" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

