{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    .box {
        border: 1px solid white;
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); /* Changing shadow color to white */
        position: relative;
        transition: all 0.5s ease; /* Adding transition for smooth animation */
    }

    .box:hover {
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Default box shadow */
        transform: scale(1.090); /* Scaling up by 1.5% */
    }

    .box:hover .text-white {
        color: #32C36C !important; /* Changing text color to black on hover */
    }
</style>



    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 ">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Services</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Services</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

 <!-- Press Flow  -->
 <div class="container-fluid py-3 py-sm-5" style="background-color:#32C36C;">
    <div class="container">
        <h1 class="pb-3 pb-sm-5 text-center text-white">OUR PROCESS</h1>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 mb-4">
                <div class="h-100 p-3 box">
                    <h3 class="text-white mb-3">STEP-1</h3>
                    <div class="step-content">
                        <h5 class="text-white">Post Your Job to TSD Traders</h5>
                        <p class="text-white">Tell us about your job, and we'll alert suitable tradespeople in your area. It’s simple and free.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-4">
                <div class="h-100 p-3 box">
                    <h3 class="text-white mb-3">STEP-2</h3>
                    <div class="step-content">
                        <h5 class="text-white">We Send Your Job to Tradespeople</h5>
                        <p class="text-white">Once your job is posted, you'll get responses from interested tradespeople through the website.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-4">
                <div class="h-100 p-3 box">
                    <h3 class="text-white mb-3">STEP-3</h3>
                    <div class="step-content">
                        <h5 class="text-white">Receive Free Quotes</h5>
                        <p class="text-white">You will receive quotes from tradespeople along with their profiles to review previous works & testimonials.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-4">
                <div class="h-100 p-3 box">
                    <h3 class="text-white mb-3">STEP-4</h3>
                    <div class="step-content">
                        <h5 class="text-white">Pick the TradesPerson for Your Job</h5>
                        <p class="text-white">Choose the tradesperson you want to carry out your job!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Press Flow Header End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h6 class="text-primary">Our Services</h6>
                <h1 class="mb-4">Our Top Services Include</h1>
            </div>
            <div class="row g-4">
                {% for cat in category %}
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded overflow-hidden">
                        {% if cat.image %}
                        <img class="img-fluid" src="{{cat.image.url}}" alt="">
                        {% endif %}
                        <div class="position-relative p-4 pt-0">
                            <h4 class="mb-3 pt-2">{{cat.name}}</h4>
                          
                            <a class="small fw-medium" href="{% url 'category-details' slug=cat.slug %}">Check all <i class="fa fa-arrow-right ms-2"></i></a>
                           
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Service End -->


   
    {% endblock content %}
