{% extends "base.html" %}
{% load static %}
{% block content %}


<section style="background-color: #EEF5FF;">
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-lg-2 col-12 py-5" style="background-color: #0F1035;">
                
                <a href="{% url "dashboard" %}" ><h5 class="text-white mb-4">Dashboard</h5></a>
                <hr>
                <a href=""><i class="fa fa-user-alt me-3"></i> Update Profile</a>
                <hr>
                <a href="{% url 'quotation_list'%}" style="display: block; margin-bottom: 15px;">
                    <i class="fas fa-list me-3"></i>All Quotations
                </a>
                
                <a href="{% url 'order_list'  %}" style="display: block; margin-bottom: 15px;">
                    <i class="fas fa-list me-3"></i>All Orders
                </a>
                
                <a href="{% url 'customer_list'  %}" style="display: block; margin-bottom: 15px;">
                    <i class="fas fa-list me-3"></i>All Customer
                </a>
                
                <a href="{% url 'service_man_list'  %}" style="display: block; margin-bottom: 15px;">
                    <i class="fas fa-list me-3"></i>All Service Man
                </a>
                <hr>
                <h5 class="text-white mb-4">BACKEND</h5><hr>
                <a href="{% url 'create_category' %}" style="display: block; margin-bottom: 15px;">
                    <i class="fas fa-list me-3"></i>Create Category
                </a>
                <a href="" style="display: block; margin-bottom: 15px;">
                    <i class="fas fa-list me-3"></i>Create Sub-Category
                </a>
                <a href="{% url 'all_job_applications' %}" style="display: block; margin-bottom: 15px;">
                    <i class="fas fa-list me-3"></i>Job Applications
                </a>
              
                <hr>
                <a href="{% url 'logout' %}" class = "btn btn-primary"><i class="fa fa-user-alt me-3"></i> LOGOUT</a>
            </div>
            
            <!-- Main content -->
            <div class="col-lg-10 col-12">
                <div class="card mt-5 mb-3 shadow">
                    <div class="card-body">
                        <h5 class="card-title">Detail of Order # - {{order.order_number}}</h5>
                        <hr>
                        <form method="POST">
                            {% csrf_token %}
                            <table class="table table-responsive" style="width: 100%;">
                                <tbody>
                                    {% for field in form %}
                                    <tr>
                                        <th>{{ field.label_tag }}</th>
                                        <td>{{ field }}</td>
                                    </tr>   
                                    {% endfor %}
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock content %}
